*{
	margin: 0;
	padding: 0;
}
.barrage{
	position: relative;
}
.barrage_content{
	width: 90%;
	margin: 0 auto;
	height: 500px;
	border: 1px solid #000000;
	position:relative;
	overflow: hidden;
	background-color: #000000;
}
.barrage_text{
	position:absolute;
	width: 100%;
}
.barrage_btn{
	width: 80%;
	margin: 0;
	position: absolute;
    top: 88%;
    left: 12%;
}
.barrage_btn button{
	width: 15%;
	border: none;
	margin: 0;
	text-align: center;
	line-height: 34px;
	height: 34px;
	border-radius: 3px;
	background-color: #8EB43A;
	color: #ffffff;
	font-size: 13px;
	word-spacing: 2px;
}
input{
	width: 60%;
	height: 30px;
}